.a:hover{

background-color:pink;

}

.b::first-letter{

font-size:200%;

}

.c{

font-family:"Arial",sans-serif;

}

.d{

background:rgb(0,0,255);
color:orange;
opacity:0.5;

}

.e{

color:white;
background-color:tomato;
text-shadow:3px 3px 6px #000000;

}

.f{

height:64px;
background-image:linear-gradient(to right, rgba(30,144,255,0.5),rgba(0,0,255,0.9));

}






